<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootstrap Shenanigans</title>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Scroll Up Real Smooth</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Aaron</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Oh, Good, It's This Site</h1>
                        <p class="intro-text">I can use bootstrap templates<br>Yes I can</p>
                        <a href="#about" class="btn btn-circle page-scroll pulse">
                            <i class="fa fa-angle-double-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2>About Aaron</h2>

                <p>Aaron is a web developer who loves Frankensteining code together. Check out <a href="https://docs.google.com/document/u/1/d/16x0cw5z7w-KDkd5W5ZFJWhA_wuLM_avX9Cmf-8Y05Yw/edit">some other portfolio pieces.</a></p>
                <p>Aaron codes in React, JS, Ruby, Rails, HTML, CSS, SQL, jQuery, RSpec, Jasmine, and, as of yesterday, Bootstrap.</p>
                <p>You could see a company paying a thousand dollars for this, right?</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a>.
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Aaron</h2>
                <p>Feel free to email me offering a job, or other things, even!</p>
                <p><a href="mailto:aaron.silverbook@gmail.com">aaron.silverbook@gmail.com</a>
                </p>
                <p><a href="https://www.linkedin.com/in/aaronsilverbook">My LinkedIn </a>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/jayterwahl" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Nobody. You. Whoever. </p>
        </div>
    </footer>

    <!-- Custom Theme JavaScript -->
   <!--<script src="/js/main.min.js"></script> -->

</body>

</html>
